@CHARSET "UTF-8";
h1{
	font-family: Cambria;
	font-weight: italic;
	font-weight: bold;
	text-decoration: underline;	
}
table{
	font-family: Cambria;
	width: auto;
	border-radius: 6px;
	border-color: orange;
	text-align: center;
}
th{
	font-family: Cambria;
	border-radius: 7px;
	border: 2px groove #B76528;
	font-weight: bold;
	color: #4A3977;
	background-color: #FDE8FB;
}
td{
	border-radius: 5px;
	border: 1px groove #0AB824;
	color: #D21A1A;
	background-color: #EBF3F2;
}
button{
	color: #F2095A;
	font-family: Cambria;
	font-size: 28px;
	font-weight: bold;
	border: 2px solid #DDD3DE;
	border-radius: 5px 5px 5px 5px;
	background-color: #EFDCCF;
}
button:hover{
	border-radius: 5px 5px 5px 5px;
	cursor: pointer;
	font-family: Cambria;
	font-size: 28px;
	color: #02AFBD; 
	font-weight: bold;
	border: 2.5px groove #DDD3DE;
	background-color: #E6CEB7;
}